.marker {
    position: absolute;
    transform-origin: left top;
}

.marker-icon {
    position: relative;
    top: -100%;
    left: -50%;
}

.selected-marker{
    display: flex;
}

.unselected-marker {
    display: none;
}